version: "3.9"

services:
  summarizer:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - minio
    volumes:
      - ./data:/data

  minio:
    image: minio/minio
    command: server /data --console-address ":9001"
    env_file:
      - .env
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data

volumes:
  minio_data:
